# env files
.env
.env.local
.env.development
.env.production
*.local
*.secret.json
serviceAccount*.json

# firebase emulator & logs
firebase-debug.log
firestore-debug.log
database-debug.log
emulator-data/
.firebase/
storage_export/

# misc
.DS_Store
node_modules

# build
.next/

firebaserun.bat
firebaserun.ps1.env*
.next
node_modules
functions/node_modules
