rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /signatures/{uid}/{file} {
      allow write: if true; // אמולטור: כדי לעבוד בקלות מול דמו
      allow read: if true;
    }
  }
}
